* {
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}

div {
    border: 1px solid red;
}
/*
h1 {
    padding: 5vh 0;
    text-align: center;
}
*/
#game-container {
    width: 800px;
    height: 640px;
    position: relative;
    margin: 0 5vw
}

#game-board {
    width: 800px;
    height: 640px;
    position: relative;
    transform: translateY(-17px);
    overflow: hidden;
}

#player {
    width: 32px;
    height: 32px;
    background-color: #04c;
    position: absolute;
    top: 0px;
    left: 0px;
}

.enemy {
    width: 16px;
    height: 16px;
    background-color: #c00;
    position: absolute;
    top: 0px;
    left: 0px;
}

.poop {
    background-color: #422;
    position: absolute;
    width: 16px;
    height: 16px;
}